.markdown-body {
}

.markdown-body > h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  color: gray;
  padding-bottom: 3rem;
}

.markdown-body > h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  color: gray;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  padding-left: 0.75rem;
  border-left: 3px;
  border-left-color: gray;
  border-left-style: solid;
}

.markdown-body > h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  color: gray;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  padding-left: 0.75rem;
  border-left: 3px;
  border-left-color: gray;
  border-left-style: solid;
}

.markdown-body > p {
  font-family: 'Quicksand', sans-serif;
  color: #dddddd;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding-bottom: 0.5rem;
  line-height: 1.5em;
  font-size: 1.05rem;
  margin-top: 0.5rem;
}

.markdown-body > p > strong {
  font-weight: 700 !important;
}

.markdown-body > ul {
  padding: 1rem 0;
}

.markdown-body > ul > li {
  font-family: 'Quicksand', sans-serif;
  color: #dddddd;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding-bottom: 0.5rem;
  line-height: 1.5em;
  list-style: circle;
  font-size: 1.15rem;
}

.markdown-body > p > a {
  font-family: 'Quicksand', sans-serif;
  color: #dddddd;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding-bottom: 0.5rem;
  line-height: 1.5em;
}

.markdown-body > ul > li > a {
  font-family: 'Quicksand', sans-serif;
  color: #dddddd;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding-bottom: 0.5rem;
  line-height: 1.5em;
}

.markdown-body > p > a {
  font-family: 'Quicksand', sans-serif;
  color: #dddddd;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding-bottom: 0.5rem;
  line-height: 1.5em;
}
