body {
  overflow-x: hidden;
}

@keyframes light {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  11% {
    opacity: 0.8;
  }

  12% {
    opacity: 0.9;
  }

  13% {
    opacity: 0.8;
  }

  15% {
    opacity: 1;
  }

  16% {
    opacity: 0.8;
  }

  17% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #686868;
}