body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #686868;
}
