---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="reset:meyer h[min 100vh] w:100% bg:gray flex[v-center h-center]">
		<p class="text[arial orange 3rem 700]">Hello Astro!</p>
	</main>
</Layout>